body {margin:0;}

.icon-bar {
    width: 30%;
    background-color: #555;
    float:right;
    height: 20px;
}

.heading {
    width: 100%;
    background-color: coral;
    padding-left:25px;
    height: 30px;

}

.heading h1 {
    text-align: centre;
    color: white;
    font-size: 25px;
}

.para {
    width: 100%;
    background-color: white ;
    height: 30px;
}

.para  p{
    float: left;
    text-align: center;
    padding: 12px 0;
    color: white;
    font-size: 20px;
}

.icon-bar a {
    float: left;
    width: 33%;
    text-align: center;
    padding: 5px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 10px;
}

.icon-bar a:hover {
    background-color: black;
    color: aqua;
}

.active {
    background-color: #4CAF50 !important;
}

.pick_barcode {
    width: 50%;
    background-color: LightSeaGreen ;
    overflow: auto;
    padding-left:25px;
}

.pick_barcode h3 {
    text-align: centre;
    color: white;
    font-size: 15px;
}

/* Slider styling*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: LightSeaGreen;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: LightSeaGreen;
    cursor: pointer;
}

.submit_button {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.submit_button {
    background-color: DodgerBlue ; 
    color: white; 
    border: 2px solid grey;
}

.submit_button:hover {
    background-color: MediumSpringGreen ;
    color: black;
    border: 2px solid black;
}

/* Image tag */

img {
  width: 600px;
  height: 450px;
  border: 1px solid black;
  border-radius: 5px;
  float: right;
  
}

.image
{
    padding-right: 25px;
    padding-bottom: 25px;
    float:right;
}